{% extends "base.html" %}

{% block title %}Nur Bijoy - Home{% endblock %}

{% block content %}
<!-- Start Banner Area -->
<section class="home-banner-area">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center">
            <div class="banner-content col-lg-6 col-md-12 justify-content-center">
                <div class="me wow fadeInDown" data-wow-duration="1s" data-wow-delay="1.2s">It's me</div>
                <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.7s">Nur Mohammad Bijoy</h1>
                <div class="designation mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.1s">
                    Competitive Programmer
                    <span class="designer">Researcher</span>
                    and <br>
                    <span class="developer">Software Engineer (Future)</span>
                </div>
                <a href="{% url 'contact' %}" class="primary-btn" data-text="Contact Me">
                    <span>C</span>
                    <span>o</span>
                    <span>n</span>
                    <span>t</span>
                    <span>a</span>
                    <span>c</span>
                    <span>t</span>
                    <span> </span>
                    <span>M</span>
                    <span>e</span>
                </a>
            </div>
            <div class="banner-img col-lg-6 col-md-6 align-self-end">
                <img class="img-fluid" src="{% static 'img/avatar.png' %}" alt="Nur Bijoy">
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!-- Start About Area -->
<section class="about-area section-gap-20">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 about-left">
                <img class="img-fluid" src="{% static 'img/me.jpg' %}" alt="About Nur Bijoy">
            </div>
            <div class="col-lg-5 col-md-12 about-right">
                <div class="section-title">
                    <h2>about myself</h2>
                </div>
                <div class="mb-10 wow fadeIn" data-wow-duration=".8s">
                    <p>
                        I am a naive person. I like to tell a petty lie at a critical moment but do not like to hear a bit for a lame excuse. I prefer to talk to myself very little as I don't like garrulous people. Always try to keep calm. I don't find it uses talking too much. I am very fond of knowing new things and ideas especially getting different theories that are beyond the imagination of most of the people around me. I am an absolute fan of SCIENCE. The characteristic explanation of mine can't be described in such a petty introduction.
                    </p>
                    <p>
                        The way of living myself is very simple. I like simplicity. I prefer a naive approach to an exaggerated one. I avoid the people who lie to me & who gain personal satisfaction utilizing my simplicity.
                    </p>
                </div>
                <a href="{% url 'portfolio' %}" class="primary-btn" data-text="Profile">
                    <span>P</span>
                    <span>r</span>
                    <span>o</span>
                    <span>f</span>
                    <span>i</span>
                    <span>l</span>
                    <span>e</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->

<!-- Start Latest Research Works Area -->
<section class="work-area section-gap-20" id="work">
    <div class="container">
        <div class="row d-flex justify-content-between align-items-end mb-80">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Latest Research Works</h2>
                </div>
            </div>
        </div>

        <div class="filters-content">
            <div class="row grid">
                <div class="single-work col-lg-4 col-md-6 col-sm-12 all creative wow fadeInUp" data-wow-duration="2s">
                    <div class="relative">
                        <div class="thumb">
                            <div class="overlay overlay-bg"></div>
                            <img class="image img-fluid" src="{% static 'img/research/notebook/mushroom.jpeg' %}" alt="Mushroom Classification">
                        </div>
                        <div class="middle">
                            <h4>Mushroom Classification</h4>
                            <div class="cat">Edible & Poisonous Mushroom Classification</div>
                        </div>
                        <a class="overlay" href="{% url 'mushroom_research' %}"></a>
                        <h2>Mushroom Classification</h2>
                    </div>
                </div>
                
                <div class="single-work col-lg-4 col-md-6 col-sm-12 all web-design branding wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                    <div class="relative">
                        <div class="thumb">
                            <div class="overlay overlay-bg"></div>
                            <img class="image img-fluid" src="{% static 'img/research/notebook/iris.jpg' %}" alt="Iris Flower Classification">
                        </div>
                        <div class="middle">
                            <h4>Iris flower classification</h4>
                            <div class="cat">Setosa, Versicolor & Virginica iris species classification</div>
                        </div>
                        <a class="overlay" href="{% url 'iris_research' %}"></a>
                        <h2>Iris Flower Classification</h2>
                    </div>
                </div>

                <div class="single-work col-lg-4 col-md-6 col-sm-12 all web-design branding wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                    <div class="relative">
                        <div class="thumb">
                            <div class="overlay overlay-bg"></div>
                            <img class="image img-fluid" src="{% static 'img/research/notebook/heart.jpg' %}" alt="Heart Disease Detection">
                        </div>
                        <div class="middle">
                            <h4>Heart Disease Detection</h4>
                            <div class="cat">Critical Heart Failure Detection</div>
                        </div>
                        <a class="overlay" href="{% url 'heart_research' %}"></a>
                        <h2>Heart Disease Detection</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="{% url 'research_home' %}" class="primary-btn" data-text="More">
                    <span>M</span>
                    <span>o</span>
                    <span>r</span>
                    <span>e</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Research Works Area -->

<!-- Start Latest Project Works Area -->
<section class="work-area section-gap-20" id="work">
    <div class="container">
        <div class="row d-flex justify-content-between align-items-end mb-80">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Latest Project Works</h2>
                </div>
            </div>
        </div>

        <div class="filters-content">
            <div class="row grid">
                <div class="single-work col-lg-4 col-md-6 col-sm-12 all creative wow fadeInUp" data-wow-duration="2s">
                    <div class="relative">
                        <div class="thumb">
                            <div class="overlay overlay-bg"></div>
                            <img class="image img-fluid" src="{% static 'img/work/stack.jpeg' %}" alt="Stack Simulation">
                        </div>
                        <div class="middle">
                            <h4>Stack Simulation</h4>
                            <div class="cat">Stack Push, Pop, Top, Clear Operations</div>
                        </div>
                        <a class="overlay" href="{% url 'stack_simulation' %}"></a>
                        <h2>Stack Simulation</h2>
                    </div>
                </div>

                <div class="single-work col-lg-4 col-md-6 col-sm-12 all web-design branding wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                    <div class="relative">
                        <div class="thumb">
                            <div class="overlay overlay-bg"></div>
                            <img class="image img-fluid" src="{% static 'img/work/queue.png' %}" alt="Queue Simulation">
                        </div>
                        <div class="middle">
                            <h4>Queue Simulation</h4>
                            <div class="cat">Queue Enqueue, Deque, Front, Clear Operations</div>
                        </div>
                        <a class="overlay" href="{% url 'queue_simulation' %}"></a>
                        <h2>Queue Simulation</h2>
                    </div>
                </div>

                <div class="single-work col-lg-4 col-md-6 col-sm-12 all web-design branding wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                    <div class="relative">
                        <div class="thumb">
                            <div class="overlay overlay-bg"></div>
                            <img class="image img-fluid" src="{% static 'img/work/list.png' %}" alt="Linked List Simulation">
                        </div>
                        <div class="middle">
                            <h4>Linked List Simulation</h4>
                            <div class="cat">Append, Prepend and many more</div>
                        </div>
                        <a class="overlay" href="{% url 'linked_list_simulation' %}"></a>
                        <h2>Linked List Simulation</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="{% url 'projects_home' %}" class="primary-btn" data-text="More">
                    <span>M</span>
                    <span>o</span>
                    <span>r</span>
                    <span>e</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Project Works Area -->
{% endblock %}