html, body {
	display: flex;
	margin: none;
	justify-items: center;
	justify-content: center;
}

.container {
	display: inline-block;
	padding: none;
}

.container-display {
	display: flex; 
	width: 100%;
	border: 3px solid green;
	justify-items: center;
	justify-content: center;
	margin-bottom:100px ;
}

.heading {
	color: #D83A56;
	font-size: 40px;
	text-align: center;
}

#display {
	color: purple;
}

.container-control {
	display: flex;
}

.container-append {
	display: inline-block;
}

.container-btn-input-append {
	display: inline-block;
	visibility: hidden;
}

.btn-append-open {
	background-color: black;
	color: yellow;
	border: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin: 5px 2px;
	cursor: pointer;
	border-radius: 6px;
}

#input-append {
	background-color: black;
	color: yellow;
	border: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin: 5px 2px;
	height: 42px;
	cursor: pointer;
	border-radius: 6px;
	width: 110px;
}

#btn-append {
	background-color: black;
	color: cyan;
	border: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin: 5px 2px;
	cursor: pointer;
	border-radius: 6px;
}

.container-prepend {
	display: inline-block;
}

.container-btn-input-prepend {
	display: inline-block;
	visibility: hidden;
}

.btn-prepend-open {
	background-color: green;
	color: white;
	border: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin: 5px 2px;
	cursor: pointer;
	border-radius: 6px;
}

#input-prepend {
	background-color: black;
	color: yellow;
	border: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin: 5px 2px;
	height: 42px;
	cursor: pointer;
	border-radius: 6px;
	width: 110px;
}

#btn-prepend {
	background-color: black;
	color: cyan;
	border: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin: 5px 2px;
	cursor: pointer;
	border-radius: 6px;
}

.container-insertpos {
	display: inline-block;
}

.container-btn-input-insertpos {
	display: inline-block;
	visibility: hidden;
}

.btn-insertpos-open {
	background-color: dimgray;
	color: cyan;
	border: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin: 5px 2px;
	cursor: pointer;
	border-radius: 6px;
}

#input-insertpos-number {
	background-color: black;
	color: yellow;
	border: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin: 5px 2px;
	height: 42px;
	cursor: pointer;
	border-radius: 6px;
	width: 110px;
}

#input-insertpos-index {
	background-color: black;
	color: yellow;
	border: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin: 5px 2px;
	height: 42px;
	cursor: pointer;
	border-radius: 6px;
	width: 110px;
}

#btn-insertpos {
	background-color: black;
	color: cyan;
	border: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin: 5px 2px;
	cursor: pointer;
	border-radius: 6px;
}

.container-removefrom {
	display: inline-block;
}

.container-btn-input-removefrom {
	display: inline-block;
	visibility: hidden;
}

.btn-removefrom-open {
	background-color: red;
	color: white;
	border: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin: 5px 2px;
	cursor: pointer;
	border-radius: 6px;
}

#input-removefrom {
	background-color: black;
	color: yellow;
	border: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin: 5px 2px;
	height: 42px;
	cursor: pointer;
	border-radius: 6px;
	width: 110px;
}

#btn-removefrom {
	background-color: black;
	color: cyan;
	border: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin: 5px 2px;
	cursor: pointer;
	border-radius: 6px;
}

.container-removeelement {
	display: inline-block;
}

.container-btn-input-removeelement {
	display: inline-block;
	visibility: hidden;
}

.btn-removeelement-open {
	background-color: orangered;
	color: whitesmoke;
	border: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin: 5px 2px;
	cursor: pointer;
	border-radius: 6px;
}

#input-removeelement {
	background-color: black;
	color: yellow;
	border: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin: 5px 2px;
	height: 42px;
	cursor: pointer;
	border-radius: 6px;
	width: 110px;
}

#btn-removeelement {
	background-color: black;
	color: cyan;
	border: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin: 5px 2px;
	cursor: pointer;
	border-radius: 6px;
}

.container-indexof {
	display: inline-block;
}

.container-btn-input-indexof {
	display: inline-block;
	visibility: hidden;
}

.btn-indexof-open {
	background-color: black;
	color: greenyellow;
	border: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin: 5px 2px;
	cursor: pointer;
	border-radius: 6px;
}

#input-indexof {
	background-color: black;
	color: yellow;
	border: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin: 5px 2px;
	height: 42px;
	cursor: pointer;
	border-radius: 6px;
	width: 110px;
}

#btn-indexof {
	background-color: black;
	color: cyan;
	border: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin: 5px 2px;
	cursor: pointer;
	border-radius: 6px;
}