html, body {
	display: flex;
	justify-content: center;
	justify-items: center;
	margin: none;
}

.heading {
	color: #D83A56;
	margin-right: 40px;
}

.input {
	font-size: 30px;
	background-color: black;
	color: #DFFF00;
	border-radius: 6px;
}

.container {
	border-radius: 6px;
    display: flex;
}

.container-stack {
	flex: 2;
	width: 240px;
}

.container-display-btn {
	flex: 1;
	margin-right: 40px;

}

.btn-push {
	background-color: black;
	color: yellow;
	border: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	margin: 5px 2px;
	cursor: pointer;
	border-radius: 6px;
}

.btn-pop {
	background-color: #3E215D;
	color: white;
	border: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	margin: 5px 2px;
	cursor: pointer;
	border-radius: 6px;
}

.btn-clear {
	background-color: #CD5C5C;
	color: white;
	border: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	margin: 5px 2px;
	cursor: pointer;
	border-radius: 6px;
}

.push-btn {
	background-color: black;
	color: yellow;
	border: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	margin: 5px 2px;
	cursor: pointer;
	border-radius: 6px;
}

.container-push {
	visibility: hidden;
}


#display-top {
	color: green;
}

#display-action {
	color: purple;
}

#display-size {
	color: #FF7F50;
}

.display-stack {
	background-color: #14274E ;
	padding: 20px;
	color: white;
	border-radius: 6px;
}

.heading {
	font-size: 50px;
}

.stack-info {
	color: #008080;

}